
<div class="row">
	<div id="leftColumn" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<h2>Unpushed Posts</h2>
		<div id="unpushed-posts-container"></div>
	</div>
	<div id="RightColumn" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<h2>Pushed Posts</h2>
		<div id="pushed-posts-container"></div>
	</div>
</div>

<script> //Get cards for "Unpublished" List
	$(function() {
		$.get( "/cards", function( cardDataArray ) {
				
				$.each(cardDataArray, function(i, cardData) {
					if(cardData.PublishedTime == null) //Only get unpublished posts.
					{
						var template;
						if(!!cardData['imageURI']){
							template = $('#cardTemplateWithImage').html();
						} else {
							template = $('#cardTemplate').html();
						}
						var html = Mustache.to_html(template, cardData);
						
				  		$("#unpushed-posts-container").prepend(html);
			  		}
		  });
		});
	});
</script>

<script> //Get cards for "Published" List	
	var dateWeCareAbout = new Date().toUTCString();
	$(function() {
		setInterval(
			function () 
			{
				$.get( "/cards?after=" + dateWeCareAbout , function( cardDataArray ) {

				$.each(cardDataArray, function(i, cardData) {
					if(cardData.PublishedTime != null) //Only get published posts.
					{
						var template;
						if(!!cardData['imageURI']){
							template = $('#cardTemplateWithImage').html();
						} else {
							template = $('#cardTemplate').html();
						}
						var html = Mustache.to_html(template, cardData);
						var obj = $(jQuery.parseHTML(html));
						obj.hide().prependTo("#pushed-posts-container");
						$("#pushed-posts-container").children().fadeIn("slow");
					}					
			  		});
				});
			}, 3000);
	});
</script>

<script> // Click handler for publishing posts
    $("#unpushed-posts-container").on("click", ".panel", function() {
      
      //TODO: Get rid of this line.  This is just for show, and eventual implementation is listed in Todo items below.
      $("#pushed-posts-container").prepend($(this).clone());
      
      //Todo:
      //Call post to update associated database entry to set PublishedTime to now.
      //Force pushed-posts-container to update.  Need script to pull published cards.
      $(this).remove();
    }); 
</script>



