
<div class="row">
	<div id="leftColumn" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<h2>Unpushed Posts</h2>
		<div id="unpushed-posts-container"></div>
	</div>
	<div id="RightColumn" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<h2>Pushed Posts</h2>
		<div id="pushed-posts-container"></div>
	</div>
</div>

<script id="cardTemplate" type="text/template">
	<div class="panel panel-default">
		<div class="panel-heading">
		<b>{{name}}</b> - 4/11/2015
		</div>
		<div class="panel-body">
			{{message}}
		</div>
	</div>
</script>

<script id="cardTemplateWithImage" type="text/template">
	<div class="panel panel-default">
		<div class="panel-heading">
		<b>{{name}}</b> - 4/11/2015
		</div>
		<div class="panel-body">
			<div class="media">
				<div class="pull-left">
					<a href="#">
					  <img class="media-object cardImage" src="{{imageURI}}" alt="...">
					</a>
				</div>
				<div class="media-body">
					{{message}}
				</div>
			</div>
		</div>
	</div>
</script>

<script>
	
	$(function() {
		$.get( "/cards", function( cardDataArray ) {
				
				$.each(cardDataArray, function(i, cardData) {
					var template;
					if(!!cardData['imageURI']){
						template = $('#cardTemplateWithImage').html();
					} else {
						template = $('#cardTemplate').html();
					}
					var html = Mustache.to_html(template, cardData);
					
			  		$("#unpushed-posts-container").prepend(html);
		  });
		});
	});

</script>