
<div class="row">
	<div id="leftColumn" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<h2>Unpushed Posts</h2>
		<div id="unpushed-posts-container"></div>
	</div>
	<div id="RightColumn" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<h2>Pushed Posts</h2>
		<div id="pushed-posts-container"></div>
	</div>
</div>

<script>	
	$(function() {
		$.get( "/cards", function( cardDataArray ) {
				
				$.each(cardDataArray, function(i, cardData) {
					var template;
					if(!!cardData['imageURI']){
						template = $('#cardTemplateWithImage').html();
					} else {
						template = $('#cardTemplate').html();
					}
					var html = Mustache.to_html(template, cardData);
					
			  		$("#unpushed-posts-container").prepend(html);
		  });
		});
	});

</script>

<script>
    $("#unpushed-posts-container").on("click", ".panel", function() {
      $("#pushed-posts-container").prepend($(this).clone());
      $(this).remove();
    }); 
</script>

