
<div class="row">
	<div id="video-container" class="col-xs-12 col-md-6">
		<iframe src="http://livestream.com/accounts/50006/events/3937639/player?width=560&height=315&autoPlay=true&mute=false" width="560" height="315" frameborder="0" scrolling="no"> </iframe>
		<!-- <iframe src="http://livestream.com/accounts/142499/events/3959775/player?width=560&height=315&autoPlay=true&mute=false" width="560" height="315" frameborder="0" scrolling="no"> </iframe> -->
	</div>
	<div id="posts-container" class="col-xs-6 col-md-6">
		List
	</div>
</div>


