
<div class="row">
	<div id="video-container" class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
		<!-- <iframe src="http://livestream.com/accounts/50006/event/3937639/player?width=560&height=315&autoPlay=true&mute=false" width="560" height="315" frameborder="0" scrolling="no"> </iframe> -->
		<iframe src="http://livestream.com/accounts/142499/events/3959775/player?width=560&height=315&autoPlay=true&mute=false" frameborder="0" scrolling="no"> </iframe>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-5 col-lg-6 no-overflow">
		<div id="posts-container">
			
		</div>
	</div>
</div>

<script>
	var lastQueriedTime = null;
	getCards();
	
	setPostsHeight();
	
	$(window).resize(function(){setPostsHeight()});
	
	function setPostsHeight(){
		var postsStart = $("#posts-container").offset().top;
	
		$("#posts-container").css("height", $(window).height() - postsStart);
	}
	
	function getCards() 
	{
		$.get( "/cards?after=" + lastQueriedTime , function( cardDataArray ) {
		
		$.each(cardDataArray, function(i, cardData) {
			var template;
			if(!!cardData['imageURI']){
				template = $('#cardTemplateWithImage').html();
			} else {
				template = $('#cardTemplate').html();
			}
			var html = Mustache.to_html(template, cardData);
			var obj = $(jQuery.parseHTML(html));
			obj.hide().prependTo("#posts-container");
			$("#posts-container").children().fadeIn("slow");

			lastQueriedTime = cardData.publishedTime;
	  		});
	  		while($(".panel").length > 200){
	  			$(".panel:last").remove();
	  		}

	  		
	 });
	}
 
	$(function() {
		getCards();
		setInterval(function() {getCards()}, 10000);
	});

</script>

<script type="text/javascript">
    var latestTweet = 0;
    
    function updateTimestamps()
    {
        $("span.timestamp").each(function() {
            var timestamp = moment($(this).data('time'));
            $(this).text(timestamp.fromNow());
            $(this).attr('title', timestamp.format("LLLL"));
            $(this).attr('alt', timestamp.format("LLLL"));
        });
    }
    
    function getTweets()
    {
        $.get("/tweets?after=" + latestTweet, function(tweets) {
            $.each(tweets, function(i, tweet) {
                var curTimestamp = tweet.timestamp;
                if (curTimestamp > latestTweet) latestTweet = curTimestamp;
                
                var template = $('#twitterCardTemplate').html();
                var html = Mustache.to_html(template, tweet);
                var obj = $(jQuery.parseHTML(html));
                obj.hide().prependTo("#posts-container");
                $("#posts-container").children().fadeIn("slow");
            });
            while($(".panel").length > 200) {
                $(".panel:last").remove();
            }
            updateTimestamps();
        });
    }
    
    $(function() {
        getTweets();
        setInterval(function() {getTweets()}, 3000);
    });
</script>
