
<div class="row">
	<div id="video-container" class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
		<!-- <iframe src="http://livestream.com/accounts/50006/events/3937639/player?width=560&height=315&autoPlay=true&mute=false" width="560" height="315" frameborder="0" scrolling="no"> </iframe> -->
		<iframe src="http://livestream.com/accounts/142499/events/3959775/player?width=560&height=315&autoPlay=true&mute=false" width="560" height="315" frameborder="0" scrolling="no"> </iframe>
	</div>
	<div id="posts-container" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		
	</div>
</div>

<script id="cardTemplate" type="text/template">
	<div class="panel panel-default">
		<div class="panel-body">
			{{message}}
		</div>
	</div>
</script>

<script>
	
	$(function() {
		$.get( "/cards", function( cardDataArray ) {
				
				$.each(cardDataArray, function(i, cardData) {
					var template = $('#cardTemplate').html();
					var html = Mustache.to_html(template, cardData);
					
			  		$("#posts-container").prepend(html);
		  });
		});
	});

</script>


