<!DOCTYPE html>
<html>
	<head>
		<title><%=launchName%></title>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	    <meta name="description" content="">
	    <meta name="author" content="">
		<!-- Bootstrap -->
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		
		<!-- Custom CSS -->
    	<link href="/css/custom.css" rel="stylesheet">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
	</head>
	
	<body class="no-overflow">

    <!-- Navigation -->
    
    <nav id="nav-bar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <header>
            	  <div class = "pull-right">
	            	<div class="navbar-brand navbar-right"><%=launchName%> <%=launchHastag%></div>
	            </div>
	            <div class="navbar-header">
	            
	            	<div class="navbar-brand">Launch Window</div>
	                
	            </div>
	          
            </header>
        </div>
        <!-- /.container -->
    </nav>

 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/vendor/jquery-1.9.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/moment.min.js"></script>
	<script src="/vendor/mustache.min.js"></script>
	
    <script id="cardTemplate" type="text/template">
        <div class="panel panel-primary">
            <div class="panel-heading">
            <span class="timestamp" data-time='{{publishedTime}}'></span>
            </div>
            <div class="panel-body">
                {{message}}
            </div>
        </div>
    </script>

    <script id="cardTemplateWithImage" type="text/template">
        <div class="panel panel-primary">
            <div class="panel-heading">
            <span class="timestamp" data-time='{{publishedTime}}'></span>
            </div>
            <div class="panel-body">
                <div class="media">
                    <div class="pull-left">
                        <a href="#">
                          <img class="media-object cardImage" src="{{imageURI}}" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        {{message}}
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="twitterCardTemplate" type="text/template">
        <div class="panel panel-default">
            <div class="panel-heading">
            <b>{{user_name}} (@{{user_handle}})</b> - <span class="timestamp" data-time='{{created}}'></span>
            </div>
            <div class="panel-body">
                <div class="media">
                    <div class="pull-left">
                        <a href="#">
                          <img class="media-object cardImage" src="{{user_image}}" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        {{text}}
                    </div>
                </div>
            </div>
        </div>
    </script>

	<article>
    <!-- Page Content -->
	    <div class="container-fluid">
	    	 <%= yield %>
	
	    </div>
	    <!-- /.container -->
	</article>
   
</body>
</html>
